.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap');


* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.containerfull {
  width: 100%;
  height: 200vh;
  background-color: #0f0e17;
}

.container1 {
  padding: 50px;
  width: 100%;
  color: #fffffe;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20vh;
}

.text1 {
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8vh;
}
.img1 {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3vh;
}
@media only screen and (max-width: 1100px) {
  .text1 {
    font-size: 2.25rem;
    font-family: "Ubuntu", sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8vh;
  }
  .img1 {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3vh;
  }
}
@media only screen and (max-width: 910px) {
  .img1 {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vh;
  }
  .text1 {
    font-size: 2rem;
    font-family: "Ubuntu", sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8vh;
  }
}
@media only screen and (max-width: 820px) {
  .container1 {
    flex-direction: column;
    padding-top: 10vh;
  }
  .text1 {
    font-size: 2rem;
    font-family: "Ubuntu", sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vh;
  }
  .img1 {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15vh;
  }
  
}

@media only screen and (max-width: 450px) {
  .container1 {
    flex-direction: column;
  }

  .text1 {
    font-size: 1.25rem;
    font-family: "Ubuntu", sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8vh;
  }
}

.container2 {
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  
}

.Aboutme {
  font-family: 'Open Sans', sans-serif;
  color: #fffffe;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 3rem;
  padding-top: 5vh;
}

.text2{
  color: #fffffe;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding-top: 5vh;
  text-align: center;
  
}
